---
import Layout from "@layouts/Layout.astro";
---

<Layout title="О проекте" description="">
    <h3 class="mb-4">Над этим проектом работают</h3>
    <h4 class="mb-4">Редакция гайда Exil Solidaire</h4>
    <ul class="grid grid-cols-1 gap-6">
        <li><b>Product manager | Президентка ассоциации Exil Solidaire</b>: Елизавета Чой</li>
        <li><b>Content manager | Вицепрезидентка ассоциации Exil Solidaire</b>: Ольга Слесарева</li>
        <li><b>Community manager | Генеральный секретарь ассоциации Exil Solidaire</b>: Борис Мельниченко</li>
        <li><b>Content manager | Казначей ассоциации Exil Solidaire</b>: Fanky TUNES</li>
        <li><b>Редакторы</b>: Александр Богачев, Тимофей Балин, Владимир Пирогов, Анна К.</li>
        <li><b>Дизайнерки </b>: Александра Демина, Алена Мельникова</li>
        <li><b>IT</b>: KreyDan</li>
        <li>
            <b>Волонтерки и волонтеры </b>: Алена Невски, Leo FREY, Вероника, Мария Сивачёва, Axel MARRO, Jessica BALMES, Екатерина Тян,
            Наталья П.
        </li>
    </ul>

    Поддержка проекта ассоциацией Russie-Libertés с 25 марта 2023 по 25 января 2024 года: Ольга Прокопьева, Вадим Канторов
</Layout>
