---
import { SITE } from "@consts";
import Head from "../components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

type Props = {
    title: string;
    description: string;
};

const { title = undefined, description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Head title=`${title ? title + " | " : ""}${SITE.NAME}` description={description} />
    </head>
    <body>
        <Header />
        <main>
            <div class="mx-auto max-w-screen-md px-5">
                <slot />
            </div>
        </main>
        <style is:global>
            @import "../assets/scss/main.scss";
        </style>
        <Footer />
    </body>
</html>
